
<li class="slide-nav__item mobile-nav__item appear-animation appear-delay-{{ animation_row }} {% if filter_label_handle == 'gender' and request.page_type != 'search' %}hidden{% endif %}" data-list-control="{{ filter.label | escape }}">
  <button type="button" class="slide-nav__button js-toggle-submenu" data-target="tier-2-{{ filter_label_handle }}" data-title="{{ filter.label | escape }}">
    <span class="slide-nav__link  mobile-nav__link--top-level">
      <span>{{ filter.label }}</span>
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98">
        <path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path>
      </svg>
      <span class="icon__fallback-text">{{ 'general.drawers.expand_submenu' | t }}</span>
    </span>
  </button>
  <ul class="slide-nav__dropdown" data-parent="tier-2-{{ filter_label_handle }}" data-level="2" data-title="{{ filter.label | escape }}">
    <li class="slide-nav__item">
      <button type="button" class="slide-nav__button js-toggle-submenu" data-back>
        <span class="slide-nav__link slide-nav__link--back">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98">
            <path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path>
          </svg>
          <span>{{ 'general.drawers.mobile_back_arrow_text' | t }}</span>
        </span>
      </button>
    </li>
    {%- for filter_value in filter.values -%}
      {%- if filter_value.label == 'men' or filter_value.label == 'women' -%}
        <li class="slide-nav__item tag{% if filter_value.active %} tag--active{% endif %}" data-filter-value="{{ filter_value.value }}">
          <span class="slide-nav__link">
            <label class="tag__checkbox-wrapper text-label">
              <input
                autocomplete="off"
                type="checkbox"
                class="tag__input"
                data-name="{{ filter_value.param_name }}"
                data-value="{{ filter_value.value }}"
                {% if filter_value.active %}checked{% endif %}
                {% unless associate_tag == "" %}
                data-tag="{{ associate_tag | downcase }}"
                {% endunless %}
              >
              <span class="tag__checkbox"></span>
              <span>
                <span class="tag__text">{{ filter_value.label | escape }}</span>{% comment %} ({{ filter_value.count }}){% endcomment %}
              </span>
            </label>
          </span>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</li>