{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif

  assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first
-%}
{%- style -%}
  .site-footer--payments {
    padding: 12px 0;
    background-image: linear-gradient(to bottom,#f4f4f4 100%,transparent 100%);
  }
  .site-footer--payments .inline-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .site-footer--payments .inline-list li.icon--payment--text {
    margin-inline: 0;
  }
  .site-footer--payments .payment-icons li {
    margin: 0;
    display: inline-flex;
    margin-inline: 7.5px;
  }
  .site-footer--payments .payment-icons .icon--payment svg {
    width: 38px;
    height: 24px;
  }
  @media only screen and (max-width:768px) {
    .site-footer--payments {
      padding: 15px 0;
    }
    .site-footer--payments .inline-list {
      margin-bottom: 0;
    }
    .inline-list li.icon--payment--text {
      flex: 0 0 100%;
      text-align: center;
      justify-content: center;
    }
    .footer__item.footer__social {
      margin-top: 15px;
      padding-top: 15px;
    }
    .footer__item.footer__social .footer__title {
      font-size: var(--typeBaseSize);
      font-weight: var(--typeBaseWeight);
    }
    .footer__item.footer__social .footer__title, .footer__item.footer__social a {
      color: #222;
    }
    .newsletter__mobile {
      margin: 15px 0;
    }
    .site-footer .grid__item.newsletter__mobile:after {
      content: none;
    }
    .site-footer--payments .payment-icons .icon--payment svg {
      width: 38px;
      height: 24px;
    }
  }
{%- endstyle -%}
{%- if settings.color_footer == settings.color_body_bg -%}
  {%- style -%}
    /* .site-footer {
      border-top: 1px solid {{ settings.color_borders }};
    } */
  {%- endstyle -%}
{%- endif -%}
<div class="site-footer--payments">
  <div class="page-width">
    <div class="icon--grid">
      {%- if section.settings.show_payment_icons -%}
        {%- unless shop.enabled_payment_types == empty -%}
          <ul class="inline-list payment-icons footer__section">
            <li class="icon--payment--text">{{ 'sections.footer.payment_acknowledgement_text' | t | append: ':' }}</li>
            {%- for type in shop.enabled_payment_types -%}
              <li class="icon--payment">
                {{ type | payment_type_svg_tag }}
              </li>
            {%- endfor -%}
          </ul>
        {%- endunless -%}
      {%- endif -%}
    </div>
  </div>
</div>
<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="page-width">
    <div class="grid text--center">

      <div {{ newsletter_block.shopify_attributes }} class="grid__item newsletter__mobile footer__item--{{ newsletter_block.id }}" data-type="{{ newsletter_block.type }}">
        <div class="footer__item-padding medium-up--hide">
          {%- if newsletter_block.settings.show_footer_title -%}
            <p class="h4 footer__title">{{ newsletter_block.settings.title }}</p>
          {%- endif -%}
          <div
            {% if newsletter_block.settings.show_footer_title %}
              id="Footer-{{ newsletter_block.id }}" class=""
            {% endif %}>
            {%- if newsletter_block.settings.text -%}
              {{ newsletter_block.settings.text }}
            {%- endif -%}
    
            {%- form 'customer', id: 'newsletter-footer' -%}
              {%- if form.posted_successfully? -%}
                <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
              {%- endif -%}
              {%- if form.context == 'footer' -%}
                {%- if form.errors -%}
                  {{ form.errors | default_errors }}
                {%- endif -%}
              {%- endif -%}
    
              <label for="Email-{{ newsletter_block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
              <label for="newsletter-submit-{{ newsletter_block.id }}" class="hidden-label">{{ 'general.newsletter_form.submit' | t }}</label>
              <input type="hidden" name="contact[tags]" value="prospect,newsletter">
              <input type="hidden" name="contact[context]" value="footer">
              <div class="footer__newsletter">
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ newsletter_block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off">
                <button type="submit" id="newsletter-submit-{{ newsletter_block.id }}" class="footer__newsletter-btn" name="commit">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-email" viewBox="0 0 64 64"><path d="M63 52H1V12h62zM1 12l25.68 24h9.72L63 12M21.82 31.68L1.56 51.16m60.78.78L41.27 31.68"></path></svg>
                  <span class="footer__newsletter-btn-label">
                    {{ 'general.newsletter_form.submit' | t }}
                  </span>
                </button>
              </div>
            {%- endform -%}
          </div>
        </div>
      </div>
      

      {%- assign row_width = 0 -%}
      {%- for block in section.blocks -%}
        {%- assign row_width = row_width | plus: block.settings.container_width -%}
        {%- if row_width > 100 -%}
          <div class="footer__clear small--hide"></div>
          {%- assign row_width = row_width | minus: 100 -%}
        {%- endif -%}

        <div {{ block.shopify_attributes }} class="grid__item {% if block.type == 'newsletter' %} small--hide{% endif %} footer__item--{{ block.id }}" data-type="{{ block.type }}">
          {%- style -%}
            @media only screen and (min-width: 769px) and (max-width: 959px) {
              .footer__item--{{ block.id }} {
                width: 50%;
                padding-top: 40px;
              }
              .footer__item--{{ block.id }}:nth-child(2n + 1) {
                clear: left;
              }
            }
            @media only screen and (min-width: 960px) {
              .footer__item--{{ block.id }} {
                width: {{ block.settings.container_width }}%;
              }
            }
          {%- endstyle -%}

          {%- liquid
            case block.type
              when 'logo_social'
                render 'footer-logo', block: block
              when 'custom'
                render 'footer-custom-text', block: block
              when 'newsletter'
                render 'footer-newsletter', block: block
              when 'menu'
                render 'footer-menu', block: block
              when 'social_group'
                render 'footer-social', block: block
            endcase
          -%}
        </div>
      {%- endfor -%}
      {%- for block in section.blocks -%}
        {%- if block.type == 'logo' -%}
          <div class="grid__item medium-up--hide">
            {%- render 'footer-logo', block: block -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    {%- if show_selectors -%}
      {% comment %}
      <div class="footer__section">
        {%- render 'multi-selectors',
          locale_selector: locale_selector,
          currency_selector: currency_selector,
          show_currency_flags: section.settings.show_currency_flags
          location: 'footer'
        -%}
      </div>
      {% endcomment %}
    {%- endif -%}

    {% comment %}
    {%- if section.settings.show_payment_icons -%}
      {%- unless shop.enabled_payment_types == empty -%}
        <ul class="inline-list payment-icons footer__section">
          {%- for type in shop.enabled_payment_types -%}
            <li class="icon--payment">
              {{ type | payment_type_svg_tag }}
            </li>
          {%- endfor -%}
        </ul>
      {%- endunless -%}
    {%- endif -%}
    {% endcomment %}

    {%- if section.settings.show_copyright -%}
      <p class="footer__small-text">
        &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
        {%- if section.settings.copyright_text != blank -%}
          {{ section.settings.copyright_text }}
        {%- endif -%}
      </p>
    {%- endif -%}

  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_language_selector",
      "info": "t:sections.footer.settings.header_language_selector"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.settings.show_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_currency_selector",
      "info": "t:sections.footer.settings.header_currency_selector"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.footer.settings.show_currency_selector.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency_flags",
      "label": "t:sections.footer.settings.show_currency_flags.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_additional_footer_content"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:sections.footer.settings.show_payment_icons.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "t:sections.footer.settings.show_copyright.label"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "t:sections.footer.settings.copyright_text.label"
    }
  ],
  "blocks": [
    {
      "type": "logo_social",
      "name": "t:sections.footer.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.footer.blocks.logo.settings.logo.label"
        },
        {
          "type": "range",
          "id": "desktop_logo_height",
          "label": "t:sections.footer.blocks.logo.settings.desktop_logo_height.label",
          "default": 50,
          "min": 20,
          "max": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.logo.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.footer.blocks.navigation.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.navigation.settings.show_footer_title.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.navigation.settings.menu.label",
          "default": "footer",
          "info": "t:sections.footer.blocks.navigation.settings.menu.info"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.navigation.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter_and_social.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.show_footer_title.label",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.newsletter_and_social.settings.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.title.label",
          "default": "Sign up and save"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.text.label",
          "info": "t:sections.footer.blocks.newsletter_and_social.settings.text.info",
          "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "social_group",
      "name": "t:sections.footer.blocks.social_group.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.show_footer_title.label",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.newsletter_and_social.settings.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.title.label",
          "default": "Sign up and save"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "custom",
      "name": "t:sections.footer.blocks.custom_text.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.custom_text.settings.show_footer_title.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.custom_text.settings.title.label",
          "default": "Custom text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.custom_text.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.custom_text.settings.text.label",
          "default": "<p>Add your own custom text here.</p>"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.custom_text.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    }
  ],
  "default": {
    "settings": {},
    "blocks": [
      {
        "type": "menu",
        "settings": {}
      },
      {
        "type": "logo_social",
        "settings": {}
      }
    ]
  }
}
{% endschema %}
